body{
    width: 100%;
    height: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background:linear-gradient(60deg, rgba(0,0,0,0.9),rgba(0,0,0,0.8),rgba(0,0,0,0.7));
    color: #fff;
}
h1,h2{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 800;
    padding: 08px;
}
header{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  background:#0e0e0f;
  color: #f1f1f1;
}
header img{
  max-width:300px;
  max-height: 100px;
  border:  none;
  border-radius:10px;
}
header p{
  margin: 10px;
  font-family: monospace;
}
header h1{
  font-family:"Lobster", monospace, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: #4d4d4d;
    border-bottom: 1px solid black;
}
nav  a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Roboto",pacifico, serif;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
}
nav ul li{
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 15px 0;
    border-radius: 6px;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
    transition: .3s;
}
nav a:hover{
  background:rgba(255,0,0,0.7);
  color: #fff;
}
#toggle{
  position: absolute;
  right: 20px;
  top:14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor:pointer;

  transition:  all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}
#toggle .span{
  height: 3px;
  background: white;
  transition:  all .3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}
#toggle.on #one{
  transform: rotate(45deg) translateX(2px) translateY(4px);
}
#toggle.on #two{
  opacity: 0;
}
#toggle.on #three{
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize{
  z-index: 1;
  top: 0px;
  position: absolute;
  background: rgba(0,0,0,0.96);
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
}
#resize #menu{
  height: 50px;
  display:table-cell;
  vertical-align: center;

}
#resize #menu li{
  display: block;
  text-align: center;
  align-items: center;
  font-size: 50px;
  margin: 5px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#resize #menu li a{
  padding: 5px 40px ;
  color: #f1f1f1;
  text-decoration: none;
}
#resize #menu li a:hover{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
#resize.active{
  visibility: visible;
  opacity: 0.99;
}
@media(max-width: 768px){
  #toggle{
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
  }
  #menu a{
    font-weight: 400;
    font-size: 20px;
  }
  nav #menu{
    display: none;
  }
  body{
    width: 100%;
    height: auto;
  }
 #games img ,#eat img {
    width: 100%;
    height: auto;
  }
}
@media(min-width:768){
  #resize{
    visibility: hidden !important;
  }
  body{
    width: 100%;
  }
}
#whoare{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align:center;
    background: url("../img/front.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;
    margin-top: 05px;
}
#whoare p{
  margin: 10px 40px 20px;
}
#whoare div{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 180px;

}
#whoare a{
  background-color:#333;
  padding:07px 20px;
  color: white;
  text-decoration:none;
  border-radius: 08px;
  transition: .5s;
}
#whoare a:hover{
  background: repeating-linear-gradient(40deg,rgba(0, 0, 0, 0.9),rgba(10, 10, 10,0.7),rgba(255, 255, 255, 0.2));
  color:white;
  border: 2px solid black;
}

#objective ,#games ,#eat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding: 10px 0;
    margin: 10px 40px;
}
#eat img,#games img{
    max-width: 550px;
    height: auto;
    align-items:center;
    padding: 10px 0px;
    background: none;
    border: none;
}
#contato{
    text-align: center;
    padding:0px;
    margin:10px 0px -10px 0px;
    padding-top:05px;
    align-items: center;
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:#0e0e0f;
}
#contato a{
    text-decoration: none;
    display: inline-block;
    padding:10px 0px;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
}
#contato a:hover{
  background: rgba(255,255,255,0.1);
}
footer{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto";
    border: 0;
    border-radius: 10px 10px 0px 0px;
}
